html,body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'sweet_child_scriptregular';
    src: url('font/sweet_child-webfont.woff2') format('woff2'),
         url('font/sweet_child-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    height: auto;
}

/*  ------------ Nav ------------------ */

#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: white;
    cursor: pointer;
    width: 90px;
    height: 90px;
    background-color: #6CC356;
    position: fixed;
    border-radius: 10px;
    z-index: 9999;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: url(img/logonav.png) #6CC356 no-repeat center;
    background-size: cover;
    transition: 1s;
}

#btn:hover{
    transform: rotate(360deg);
}

#nav {
    z-index: 9999;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    background:url(img/fondnav.png) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    list-style: none;
    z-index: 9999;
    transition: 1s;
}

#btn:hover{
    background-color: orange;
}

.content-btn-ham{
    display: flex;
    justify-content: end;
    position: fixed;
    right: 0;
    padding: 10px;
    z-index: 9999;
}

#nav li {
    margin-top: 50px;
    font-size: 30px;
}

#nav li a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.2s;
    padding: 10px 20px;
}

#nav li a:hover{
    background-color: white;
    color: #404040;
}

/* -------------- Logo ----------------- */

.haut-de-page{
    position: relative;
    text-align: center;
    user-select: none;
}

.texte-centrer{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-family:'sweet_child_scriptregular' ;
    font-size: 70px;
    font-weight: lighter;
    font-style: italic;
}

.vert{
    color: green;
}

.blanc{
    color: honeydew;
}

.rouge{
    color: red;
}

.sous-titre{
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: lighter;
    font-style: italic;
    margin-top: -30px;
    margin-left: 100px;
}

/* Drapeaux */

.ensemble-drapeau{
    display: flex;
    justify-content: space-between;
}

.drapeau{
    display: flex;
    justify-content: center;
    margin: 40px;
    height: 70vh;
}

.couleurvert{
    width: 20px;
    background-color: green;
}
.couleurblanc{
    width: 20px;
    background-color: rgb(237, 238, 237);
}
.couleurrouge{
    width: 20px;
    background-color: rgb(204, 7, 7);
} 

h2{
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif; ;
    font-size: 70px;
    font-weight: lighter;
    font-style: italic;
    justify-content: center;
    display: flex;
}

.texte-histoire{
    font-size: 2em;
    font-style: italic;
    margin: auto;
}

.second-content{
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
 /* -------- TEST--------------------- */

.container {
    margin-bottom: 20px;
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    /*  box-shadow is from materialize css's website */
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.container img {
    width: auto;
    z-index: -2;
}

button {
    height: 10%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 1em;
    display: flex;
}

button .arrow {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
}

#right-btn {
    margin: auto 0 auto -2em;
}

#right-btn .arrow {
    transform: rotate(-45deg);
}

#left-btn {
    z-index: 0;
    margin: auto -2em auto 0;
}

#left-btn .arrow {
    transform: rotate(135deg);
}

footer{
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    background-color: #6CC356;
    align-items: center;
}

.signature{
    width: 100px;
}


/* Animation Vespa  */

.display-anim {
    height: 100px;
    background: url("img/vespa\ 1.png") no-repeat left center;
    width: 210px;
    -webkit-animation: test 10s infinite ;
    animation: test 10s infinite ;
}
@-webkit-keyframes test {

    90%{

        transform: rotateY(00deg);
    }

    100% {
       margin-left: calc(100% - 210px);
       transform: rotateY(180deg);
    }
}
@keyframes test {

    0%{

        transform: rotateY(00deg);
    }

    49%{
        transform: rotateY(0);
    }
    50% {
        margin-left: calc(100% - 210px);
        transform: rotateY(180deg);
    }

    100% {
        margin-right: calc(100% - 210px);
        transform: rotateY(180deg);
    }
}

/*             Responsive                       */

@media (max-width:800px){
    .marque{
        width: 300px;
    }

    h1{
        font-size: 30px;
    }

    h2{
        font-size:40px;
    }

    .sous-titre{
        margin: 0 10px;
        font-size:15px;
    }

    .texte-histoire{
        font-size: 18px;
    }

    .drapeau{
        width: 40px;
        height: auto;
        margin: 5px;
    }

    .container{
        height: 300px;
        width: 300px;
    }

    #carousel{
        height: 300px;
        width: 300px;
    }

    button{
        height: 50px;
    }

    .second-content{
        margin:20px 0 ;
    }
}



