body,html{
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@font-face {
    font-family: 'sweet_child_scriptregular';
    src: url('font/sweet_child-webfont.woff2') format('woff2'),
         url('font/sweet_child-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.haut-de-page{
    position: relative;
    text-align: center;
    user-select: none;
}

h1{
    font-family:'sweet_child_scriptregular' ;
    font-size: 70px;
    font-weight: lighter;
    font-style: italic;
}

.texte-centrer{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vert{
    color: green;
}

.blanc{
    color: honeydew;
}

.rouge{
    color: red;
}
.sous-titre{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: lighter;
    font-style: italic;
    margin-top: -30px;
    margin-left: 100px;
}

#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: white;
    cursor: pointer;
    width: 90px;
    height: 90px;
    background-color: #6CC356;
    position: fixed;
    border-radius: 10px;
    z-index: 9999;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: url(img/logonav.png) #6CC356 no-repeat;
    background-size: 100%;
    transition: 1s;
}

#btn:hover{
    transform: rotate(360deg);
}

#nav {
    z-index: 9999;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    background:url(img/fondnav.png) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    list-style: none;
    z-index: 9999;
    transition: 1s;
}

#btn:hover{
    background-color: orange;
}

.content-btn-ham{
    display: flex;
    justify-content: end;
    position: fixed;
    right: 0;
    padding: 10px;
    z-index: 9999;
}

#nav li {
    margin-top: 50px;
    font-size: 30px;
}

#nav li a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.2s;
    padding: 10px 20px;
}

#nav li a:hover{
    background-color: white;
    color: #404040;
}

.ensemble-drapeau{
    display: flex;
    justify-content: space-between;
}

.drapeau{
    display: flex;
    justify-content: center;
    margin: 40px;
    height: 120vh;
}

.couleurvert{
    width: 20px;
    background-color: #6CC356;
}
.couleurblanc{
    width: 20px;
    margin-top: 25px;
    background-color: rgb(237, 238, 237);
}
.couleurrouge{
    width: 20px;
    margin-top: 50px;
    background-color: rgb(204, 7, 7);
} 
.drapeau2{
    display: flex;
    justify-content: center;
    margin: 40px;
    height: 120vh;
}

.couleurvert2{
    width: 20px;
    margin-top: 50px;
    background-color: #6CC356;
}
.couleurblanc2{
    width: 20px;
    margin-top: 25px;
    background-color: rgb(237, 238, 237);
}
.couleurrouge2{
    width: 20px;
    background-color: rgb(204, 7, 7);
} 


h2{
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}

.texte-histoire{
    font-size: 30px;
    margin: auto;
}

.second-content{
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.titre_recette_soustitre{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 150PX;
}

.titre_recette{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.sous-titre_recette{
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    opacity: 0.5;
}










@-webkit-keyframes test {

    90%{

        transform: rotateY(00deg);
    }

    100% {
       margin-left: calc(100% - 210px);
       transform: rotateY(180deg);
    }
}
@keyframes test {

    0%{

        transform: rotateY(00deg);
    }


    49%{
        transform: rotateY(0);
    }
    50% {
        margin-left: calc(100% - 210px);
        transform: rotateY(180deg);

    }

    100% {
        margin-right: calc(100% - 210px);
        transform: rotateY(180deg);
    }
}
h1{
    margin-top: 0;
}
.carte{
    
    text-align: center;
    margin: auto;
    background-color: transparent;
    width: 300px;
    height: 660px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}
.carte-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    }
    .carte:hover .carte-inner {
    transform: rotateY(180deg);
    }
    .carte-face, .flip-card-back {
        border-radius: 20px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }
    .carte-face {
        color: black;
    }
    .flip-card-back {
        background-color: white;
        color: black;
        transform: rotateY(180deg);
    }
    .container{
        flex-direction: column;
    }
    .mini-container{
        display: flex;
        justify-content: space-between;
    }
    #h1{
        font-size: 17px;
    }
    #h2{
        font-size: 17px;
    }
    #para{
        font-size: 15px;
    }
    #para2{
        font-size: 15px;
    }
    #biere{
        height: 40px;
    }
    .reverse{
    transform: rotate(180deg);
    }
    .mini-container2{
        line-height: 10px;
        width: 290px;
        height: auto;
    }
    #taille{
        font-size: 20px;
    }
    h3{
        margin-top: 0;
    }
    li{
        font-size: 10px;
    }
    #largeur{
        width: 80%;
        margin: auto;
    }
    .rotate{
        transform: rotate(90deg);
        
        
    }
    .rotate2{
        transform: rotate(180deg);

    }
    .rotate4{
        transform: rotate(270deg);
        margin: 0;
        
    }
    .part{
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }
    .conteneur-anim{
        display: flex;
        margin: 40px;
    }

    footer{
        display: flex;
        justify-content: space-around;
        font-family: 'Roboto', sans-serif;
        background-color: #6CC356;
        align-items: center;
    }

.display-anim {
    height: 100px;
    width: 210px;
    background: url("img/vespa\ 1.png") no-repeat left center;
    -webkit-animation: test 10s infinite ;
    animation: test 10s infinite ;
}
.signature{
    width: 100px;
}

@media (max-width:800px){

h1{
    font-size: 30px;
    
}
.marque{
    width: 300px;
}
h2{
    font-size:40px;
}

.sous-titre{
    margin: 0 10px;
    font-size:15px;
}
.drapeau {
    margin: 5px;
    width: 30px;
}
.drapeau2{
    width: 30px;
    margin: 5px;
}
.texte{
    text-align: center;
}
.part{
    display: none;
}
.conteneur-anim{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carte{
    margin: 10px ;
}



}